@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;

  --animate-infinite-scroll: infinite-scroll 40s linear infinite;

  @keyframes infinite-scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }
  }
}

body { font-family: 'Roboto', sans-serif; }


@layer utilities {
  .scrollbar-thin-zinc {
    scrollbar-width: thin;                           
    scrollbar-color: #cecece transparent;   
  }

  .dark .scrollbar-thin-zinc {
    scrollbar-color: #4d4d4d transparent !important;   
  }
}

.p-select-overlay .p-select-option[aria-selected="true"] {
  background: var(--color-zinc-900) !important;
  color:var(--color-zinc-50) !important;
}
.dark .p-select-overlay .p-select-option[aria-selected="true"] {
  background: var(--color-zinc-200) !important;
  color:var(--color-zinc-950) !important;
}